/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Several default colors to be used in the style sheet.
 * I prefer red base color, so colors are tinted slightly.
>* * * * * * * * * * * * * * * * * * * * * * * * */
* {
    --ornb-toolbar-shadow-dimensions: 0px 2px 10px;
    --ornb-bright-white: rgb(205, 200, 195);
    --ornb-light-white: rgb(160, 140, 140);
    --ornb-dark: rgb(55, 45, 45);
}

.colormodedark{
    --ornb-primary-font-color:var(--ornb-light-white);
    --ornb-primary-background-color:var(--ornb-dark);
    --ornb-primary-border-color: var(--ornb-dark);
    --ornb-shadow_color: rgba(0, 0, 0, 0.4);
}
.colormodelight{
    --ornb-primary-font-color:var(--ornb-dark);
    --ornb-primary-background-color:var(--ornb-bright-white);
    --ornb-primary-border-color: var(--ornb-light-white);
    --ornb-shadow_color: rgba(160, 140, 140, 0.4);
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Toolbar class not used currently
>* * * * * * * * * * * * * * * * * * * * * * * * */
.toolbar{
    height: 25px;
    border: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 2147483647;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--ornb-toolbar-shadow-dimensions), var(--ornb-shadow_color);
}
#menubar{
    background-color: var(--ornb-primary-background-color);
    color: var(--ornb-primary-font-color);
    border-color: var(--ornb-primary-border-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 25px;
}

button {
    background-color: var(--ornb-primary-background-color);
    color: var(--ornb-primary-font-color);
    border-color: var(--ornb-primary-border-color);
    width: 80px;
    margin: 2px;
}

input {
    background-color: var(--ornb-primary-background-color);
    color: var(--ornb-primary-font-color);
    border-color: var(--ornb-primary-border-color);
    width: 72px;
    margin-left: 11px;
}
